.root {
  position: relative;
  width: 1920px;
  height: 1200px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7f7f8, #fff;
  overflow-y: auto;
}
.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3474.4099px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #111827;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 0 310px;
}
.header {
  width: 1300px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 164.3px;
  padding: 30px 32.01px 20px 32px;
}
.container2 {
  width: 240px;
  height: min-content;
  flex-direction: column;
}
.link {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.logoWhite2Png {
  position: relative;
  width: 90px;
  height: 35.72px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/logoWhite2Png.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container3 {
  width: min-content;
  height: min-content;
  justify-content: center;
  gap: 16px;
}
.container4 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 3.21px 12px 3.99px;
}
.linkRoadmap {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock {
  display: block;
}
.container5 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 3.21px 12px 3.99px;
}
.linkPricing {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock2 {
  display: block;
}
.container6 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 3.21px 12px 3.99px;
}
.linkAffiliate {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock3 {
  display: block;
}
.container7 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
}
.link2 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 3px 12px;
  border-radius: 7px;
}
.container8 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
}
.community {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock4 {
  display: block;
}
.sVG {
  width: 22px;
  height: 22px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.container9 {
  width: min-content;
  height: min-content;
  gap: 16px;
  padding: 0 0 0 16px;
}
.container10 {
  width: min-content;
  align-self: stretch;
  align-items: center;
  padding: 5.59px 0 5.61px;
}
.link3 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.login {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock5 {
  display: block;
}
.container11 {
  width: min-content;
  align-self: stretch;
  align-items: flex-start;
}
.link4 {
  width: min-content;
  height: 32px;
  flex-direction: column;
  padding: 4px 16px;
  outline: solid 1px #463fc6;
  outline-offset: -1px;
  border-radius: 6px;
}
.getStartedFree {
  color: #463fc6;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock6 {
  display: block;
}
.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 107.72px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 0 310px;
}
.container12 {
  position: relative;
  width: 1300px;
  height: 3074.3px;
  flex-direction: column;
  align-items: flex-start;
}
.container13 {
  position: absolute;
  left: 32px;
  right: 32px;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.container14 {
  height: 666.7px;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 53.24px 0 0;
}
.heading1 {
  width: 900px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 0 20.77px 0.76px;
}
.createFacelessVideosInSecondsW {
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 43.2px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #dee1ea;
  font-size: 43.2px;
  line-height: 47.52px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #f11d64;
  font-size: 43.2px;
  line-height: 47.52px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #dee1ea;
  font-size: 43.2px;
  line-height: 47.52px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 365.11px;
}
.allInOneSolutionForYourFaceles {
  color: #dee1ea;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 300;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container15 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 12.01px;
  padding: 12px 446.4px 0 446.39px;
}
.container16 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.link5 {
  height: 40px;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #463fc6;
}
.getStarted {
  color: #dee1ea;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock7 {
  display: block;
}
.container17 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.container18 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}
.margin {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 0 12px 0 0;
}
.container19 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
}
.margin2 {
  width: 32px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
}
.container20 {
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}
._2Jpeg {
  position: relative;
  width: 32px;
  height: 32px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/_2Jpeg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.margin3 {
  width: 32px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 0px -4px;
}
.container21 {
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}
._3Jpeg {
  position: relative;
  width: 32px;
  height: 32px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/_3Jpeg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container22 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.container23 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 0.01px 0 0;
}
._5000Creators {
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 15px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label4 {
  color: #b2b8cd;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label5 {
  color: #b2b8cd;
  font-size: 15px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container24 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 52px 0 0;
  overflow: hidden;
}
.container25 {
  position: relative;
  width: 1512px;
  height: 394px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.container26 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  gap: 16px;
  padding: 0 8px 0.94px;
}
.container27 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV2Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV2Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 47.49px 8px 47.48px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.redditStory {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container28 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV1Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV1Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 14.31px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.fakeTextMessages {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container29 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV7Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV7Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 25.81px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.quizMultilevels {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container30 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV8Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV8Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 14.31px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.fakeTextMessages2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container31 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV6Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV6Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay5 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 33.27px 8px 33.25px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.quizStandard {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container32 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV3Mp4 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV3Mp4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 26.44px 8px 26.42px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.wouldYouRather {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container33 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  gap: 16px;
  padding: 0 8px 0.94px;
}
.container34 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV2Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV2Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay7 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 47.49px 8px 47.48px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.redditStory2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container35 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV1Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV1Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay8 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 14.31px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.fakeTextMessages3 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container36 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV7Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV7Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay9 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 25.81px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.quizMultilevels2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container37 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV8Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV8Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay10 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 14.31px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.fakeTextMessages4 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container38 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV6Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV6Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay11 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 33.27px 8px 33.25px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.quizStandard2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container39 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}
.sV3Mp42 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/sV3Mp42.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay12 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px 26.44px 8px 26.42px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  background-color: #000000b2;
}
.wouldYouRather2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container40 {
  position: absolute;
  left: 50%;
  top: 794.7px;
  width: 1236px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-50%);
}
.heading22 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 356px;
}
.createViralVideos10xFaster {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 36.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label6 {
  color: #dee1ea;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #f11d64;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 369.71px 0 369.7px;
}
.areYouTiredOfSpendingHoursOnMa {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.nichesPng {
  position: relative;
  height: 236.94px;
  align-self: stretch;
  flex-direction: column;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('assets/nichesPng.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 0px 22px 0px #0000000d, 0px 0px 21px 0px #0000000d, 0px 0px 20px 0px #0000000d,
    0px 0px 19px 0px #0000000d, 0px 0px 18px 0px #0000000d, 0px 0px 17px 0px #0000000d, 0px 0px 16px 0px #0000000d,
    0px 0px 15px 0px #0000000d;
}
.heading23 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 64px 320.34px 0 320.33px;
}
.generateAIShortsWithOneClick {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper4 {
  font-size: 36.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label8 {
  color: #dee1ea;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label9 {
  color: #f11d64;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label10 {
  color: #dee1ea;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading32 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 434.11px 0 434.09px;
}
.multipleTemplatesThatFitEveryN {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container41 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0 0;
  overflow: hidden;
}
.container42 {
  position: relative;
  width: 1944px;
  height: 394px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.container43 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  gap: 16px;
  padding: 0 8px 0.94px;
}
.container44 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.cinematicJpg {
  position: relative;
  height: 353.56px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cinematicJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay13 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cinematic {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container45 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0px;
  border-radius: 10px;
}
.cartoonJpg {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cartoonJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay14 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cartoon {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container46 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.animeJpg {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/animeJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay15 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.anime {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container47 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0px;
  border-radius: 10px;
}
._3dJpg {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/_3dJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay16 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
._3DAnimation {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container48 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.cinematicDarkJpg {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cinematicDarkJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay17 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cinematicDark {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container49 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.animeDarkJpg {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/animeDarkJpg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay18 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.animeDark {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container50 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  gap: 16px;
  padding: 0 8px 0.94px;
}
.container51 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.cinematicJpg2 {
  position: relative;
  height: 353.56px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cinematicJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay19 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cinematic2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container52 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0px;
  border-radius: 10px;
}
.cartoonJpg2 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cartoonJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay20 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cartoon2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container53 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.animeJpg2 {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/animeJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay21 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.anime2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container54 {
  width: 200px;
  height: 394.94px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0px;
  border-radius: 10px;
}
._3dJpg2 {
  position: relative;
  height: 355.55px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/_3dJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay22 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
._3DAnimation2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container55 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.cinematicDarkJpg2 {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/cinematicDarkJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay23 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.cinematicDark2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container56 {
  width: 200px;
  height: 394px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.01px;
  border-radius: 10px;
}
.animeDarkJpg2 {
  position: relative;
  height: 351.78px;
  align-self: stretch;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/animeDarkJpg2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay24 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 8px;
  background-color: #000000b2;
}
.animeDark2 {
  color: #fff;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.heading24 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 128px 295.86px 0 295.84px;
}
.autoCaptionsWithAnimatedEmojis {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.labelWrapper5 {
  font-size: 36.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label11 {
  color: #dee1ea;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  color: #f11d64;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heading33 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 392.06px;
}
.createPerfectCaptionsToKeepUse {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.autoCaptionsPng {
  position: relative;
  width: 1236px;
  height: 683.52px;
  flex-direction: column;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('assets/autoCaptionsPng.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 0px 22px 0px #0000000d, 0px 0px 21px 0px #0000000d, 0px 0px 20px 0px #0000000d,
    0px 0px 19px 0px #0000000d, 0px 0px 18px 0px #0000000d, 0px 0px 17px 0px #0000000d, 0px 0px 16px 0px #0000000d,
    0px 0px 15px 0px #0000000d;
}
.container57 {
  position: absolute;
  left: 50%;
  top: 2682.6399px;
  width: 750px;
  height: min-content;
  flex-direction: column;
  gap: 16px;
  transform: translateX(-50%);
}
.heading25 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 75.7px;
}
.weAreBuildingManyShortVideoAut {
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock8 {
  color: #dee1ea;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
}
.labelWrapper6 {
  font-size: 36.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label13 {
  color: #f11d64;
  font-size: 36.8px;
  line-height: 47.84px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container58 {
  position: relative;
  height: 52px;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.strong {
  position: absolute;
  left: calc(50% - 0px);
  top: 1px;
  width: 734.88px;
  height: 50px;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-50%);
}
.redditStoryCompletedAIVideosBe {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.1717px);
  top: -1px;
  width: 735.2233px;
  height: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.videoFakeTextVideo {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 199.837px);
  top: 25px;
  width: 226.5459px;
  height: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.JoinOurDiscordServerToStayUpTo {
  position: absolute;
  left: calc(50% - -113.2529px);
  top: 26px;
  width: 400.3859px;
  height: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.labelWrapper7 {
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label14 {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label15 {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.label16 {
  color: #dee1ea;
  font-size: 20px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.container59 {
  position: absolute;
  left: 32px;
  right: 32px;
  top: 2910.3px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 0 541.36px 0 541.34px;
}
.link6 {
  width: min-content;
  height: min-content;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #463fc6;
}
.getStarted2 {
  color: #dee1ea;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock10 {
  display: block;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 3182.02px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  padding: 0 310px;
}
.container60 {
  width: 1300px;
  height: min-content;
  flex-direction: column;
  padding: 64px 32px;
}
.container61 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
}
.container62 {
  width: 309px;
  align-self: stretch;
  flex-direction: column;
  gap: 15.99px;
}
.container63 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.link7 {
  width: min-content;
  height: min-content;
}
.logoWhite2Png2 {
  position: relative;
  width: 150px;
  height: 59.55px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('assets/logoWhite2Png2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container64 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.Copyright2024Vsub {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.container65 {
  width: 309px;
  align-self: stretch;
  flex-direction: column;
  gap: 15.99px;
}
.heading5 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.legal {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.list {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 0px;
}
.item {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link8 {
  width: min-content;
  height: min-content;
}
.termsOfUse {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock11 {
  display: block;
}
.item2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link9 {
  width: min-content;
  height: min-content;
}
.privacyPolicy {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock12 {
  display: block;
}
.container66 {
  width: 309px;
  align-self: stretch;
  flex-direction: column;
  gap: 15.99px;
}
.heading52 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.product {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.list2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.item3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link10 {
  width: min-content;
  height: min-content;
}
.pricing {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock13 {
  display: block;
}
.item4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link11 {
  width: min-content;
  height: min-content;
}
.affiliate {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock14 {
  display: block;
}
.item5 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link12 {
  width: min-content;
  height: min-content;
}
.featuresRequest {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock15 {
  display: block;
}
.container67 {
  width: 309px;
  align-self: stretch;
  flex-direction: column;
  gap: 15.99px;
}
.heading53 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.company {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.list3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.item6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link13 {
  width: min-content;
  height: min-content;
}
.chatSupport {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock16 {
  display: block;
}
.item7 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 16px;
}
.link14 {
  width: min-content;
  height: min-content;
}
.contactVsubIo {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock17 {
  display: block;
}
.item8 {
  height: min-content;
  align-self: stretch;
  padding: 0 0 16px;
}
.link15 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
}
.community2 {
  color: #dee1ea;
  font-size: 16px;
  line-height: 20.8px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.textBlock18 {
  display: block;
}
.sVG2 {
  width: 22px;
  height: 22px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
