.root {
  position: relative;
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding: 360.72px 660px 360.73px;
  background-color: #242837;
}
.container {
  position: absolute;
  right: 0;
  top: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 27.09px 27.0949px 31.898px 27.0931px;
}
.container2 {
  position: relative;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.backgroundShadow {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  border-radius: 8px;
  background-color: #1f2330;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px #00000005, 0px 1px 6px -1px #00000005, 0px 1px 2px 0px #00000008;
}
.container3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 24px;
  border-radius: 0 0 8px 8px;
}
.container4 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px;
}
.container5 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 137px;
}
.logoWhite2Png {
  position: relative;
  width: 150px;
  height: 59.55px;
  flex-direction: column;
  background-image:/* webpackIgnore: true */ url('/assets/logoWhite2Png.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container6 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 0 28.41px 0 28.39px;
}
.loginToGetUnlimitedAccessAndSa {
  color: #b5bac1;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container7 {
  width: 320px;
  height: min-content;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0 0;
}
.container8 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.link {
  width: min-content;
  height: min-content;
}
.button {
  position: relative;
  height: 40px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #463fc6;
}
.container9 {
  position: absolute;
  left: 64.94px;
  top: 10.25px;
  width: min-content;
  height: min-content;
}
.imgGoogle {
  width: min-content;
  height: min-content;
  align-self: flex-start;
}
.sVG {
  width: 18px;
  height: 18px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.signInWithGoogle {
  color: #dbdee1;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -13.1587px);
  top: 7px;
  width: 164.4374px;
  height: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.textBlock {
  display: block;
}
.container10 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.button2 {
  width: 320px;
  height: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 7px 33.37px 7px 33.36px;
  outline: solid 1px #32384dcc;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #1a1d29;
}
.signInWithEmailPassword {
  color: #dee1ea;
  font-size: 18px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.alert {
  height: min-content;
  align-self: stretch;
  padding: 9px 13px;
  margin: 0px 0px 0px -5.684341886080802e-14px;
  outline: solid 1px #15325b;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #111a2c;
}
.container11 {
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.container12 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.weDonTHaveASignUpFormYourAccou {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock2 {
  color: #b2b8cd;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #b2b8cd;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
